.calander{
  display: grid;
  height: 600px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 2em repeat(5, 1fr);
  grid-gap: 1em;
}
.date, .day{
  background-color: lightblue;
  font-size: 3em;
  display: flex;
  justify-content: center;align-items: center;
  border-radius: 10px;
}
.other-month, .day{
  background-color: lightgrey;
}
.day{
  font-size: 2em;
}